In [1]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
dataset = pd.read_csv("50_Startups.csv")

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
dum_df = pd.get_dummies(dataset, columns=["State"], prefix=["State_is"] )

In [5]:
dum_df.drop(['State_is_Florida'], axis=1, inplace=True)

In [6]:
dum_df.head()

,R&D Spend,Administration,Marketing Spend,Profit,State_is_California,State_is_New York
0,165349.20,136897.80,471784.10,192261.83,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0
2,153441.51,101145.55,407934.54,191050.39,0,0
3,144372.41,118671.85,383199.62,182901.99,0,1
4,142107.34,91391.77,366168.42,166187.94,0,0

In [7]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
y = dum_df['Profit']
X = dum_df.drop(['Profit'], axis=1)

In [8]:
X_colums = X.columns
# Feature Scaling
from sklearn.preprocessing import MinMaxScaler
sc_X = MinMaxScaler()
X = sc_X.fit_transform(X)
scaled_X = pd.DataFrame(X, columns=X_colums)
scaled_X

,R&D Spend,Administration,Marketing Spend,State_is_California,State_is_New York
0,1.000000,0.651744,1.000000,0.0,1.0
1,0.983359,0.761972,0.940893,1.0,0.0
2,0.927985,0.379579,0.864664,0.0,0.0
3,0.873136,0.512998,0.812235,0.0,1.0
4,0.859438,0.305328,0.776136,0.0,0.0
5,0.797566,0.369448,0.769126,0.0,1.0
6,0.814128,0.730161,0.270710,1.0,0.0
7,0.788018,0.717457,0.686493,0.0,0.0
8,0.729018,0.741733,0.660500,0.0,1.0
9,0.745906,0.436929,0.646443,1.0,0.0
10,0.616351,0.451506,0.485733,0.0,0.0
11,0.608845,0.308364,0.529362,1.0,0.0
12,0.567670,0.578836,0.529563,0.0,0.0
13,0.556352,0.641066,0.535552,1.0,0.0
14,0.725394,0.801327,0.543708,0.0,0.0
15,0.692617,0.543030,0.554864,0.0,1.0
16,0.471808,0.535270,0.560312,1.0,0.0
17,0.572468,0.714013,0.598948,0.0,1.0
18,0.554881,0.478772,0.625116,0.0,0.0
19,0.522650,0.778236,0.000000,0.0,1.0
20,0.461169,0.476424,0.633053,1.0,0.0
21,0.474084,0.780210,0.635327,0.0,1.0
22,0.447505,0.544293,0.642920,0.0,0.0
23,0.408424,0.414638,0.645992,0.0,0.0
24,0.465947,0.365388,0.297964,0.0,1.0
25,0.391080,0.671958,0.292427,1.0,0.0
26,0.455574,0.706845,0.284134,0.0,0.0
27,0.436093,0.582978,0.748613,0.0,1.0
28,0.399467,1.000000,0.250429,0.0,0.0
29,0.396769,0.774566,0.227092,0.0,1.0
30,0.374931,0.489928,0.193163,0.0,0.0
31,0.369741,0.772053,0.186989,0.0,1.0
32,0.383485,0.593294,0.097683,1.0,0.0
33,0.335617,0.394134,0.454943,0.0,0.0
34,0.280776,0.810055,0.446810,1.0,0.0
35,0.278284,0.257032,0.435618,0.0,1.0
36,0.173353,0.576825,0.426311,0.0,0.0
37,0.266527,0.000000,0.417626,1.0,0.0
38,0.122345,0.111636,0.392690,0.0,1.0
39,0.233194,0.241309,0.370931,1.0,0.0
40,0.173901,0.512041,0.366260,1.0,0.0
41,0.168691,0.254469,0.348614,0.0,0.0
42,0.142976,0.341852,0.313705,1.0,0.0
43,0.093776,0.579307,0.075319,0.0,1.0
44,0.134127,0.788072,0.060059,1.0,0.0
45,0.006049,0.554724,0.004036,0.0,1.0
46,0.007956,0.491260,0.629768,0.0,0.0
47,0.000000,0.640547,0.000000,1.0,0.0
48,0.003278,0.003502,0.000000,0.0,1.0
49,0.000000,0.500148,0.095749,1.0,0.0

In [9]:
scaled_X['Profit'] = y

In [10]:
scaled_X.head()

,R&D Spend,Administration,Marketing Spend,State_is_California,State_is_New York,Profit
0,1.000000,0.651744,1.000000,0.0,1.0,192261.83
1,0.983359,0.761972,0.940893,1.0,0.0,191792.06
2,0.927985,0.379579,0.864664,0.0,0.0,191050.39
3,0.873136,0.512998,0.812235,0.0,1.0,182901.99
4,0.859438,0.305328,0.776136,0.0,0.0,166187.94

X_test = sc_X.transform(X_test)
X_test

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

X_train = pd.DataFrame(X_train,columns=X_colums)

X_train['Profit'] = y_train

X_train.head()